# Ignore Python Cache
__pycache__/
*.py[cod]

# Ignore EXE build folders
dist/
build/
*.spec

# Ignore Editor Settings
.vscode/
.idea/

# Ignore Backups created by the App
*Backup*.zip
*Backup*.json

# Ignore Virtual Environments (if you use them)
venv/
env/

# --- User Data (DO NOT UPLOAD) ---
filament_inventory.json
sales_history.json
maintenance_log.json
job_queue.json
print_shop_config.json
config.json